#fireflies-banner {
    background: $gold;
    min-height: 40vh;
    padding: 0;

    #dispersion-overlay {
        background: black;
    }

    #banner-firefly {
        position: relative;
        width: 40px;
        left: 25%;
        margin-bottom: 2%;
        transform: rotate(-17.75deg);
    }

    #dispersion {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    #fireflies-banner {
        #banner-firefly {
            left: 27%;
        }
    }
}