#footer {
    padding: 15vh 0;
    color: white;
    #main-footer {
        margin-top: 7.5em;
    }
    a {
        display: inline-block;
        margin: 0 .5em;
        color: white;
        text-decoration: none;

        &:hover {
            color: $gold;
        }

        i{
            font-size: 2rem;
        }
    }

    #footer-logo {
        font-weight: 900;
    }

    #footer-copyright {
        color: $gray ;
    }

    #footer-contact {
        font-weight: 900;
    }
}