#home {
    color: white;
    min-height: 70vh;
    padding: 85px 0 10vh 0;

    .container {
        padding-right: 25px;
        padding-left: 25px;
    }

    #movement {
        text-decoration: underline;
        text-decoration-color: $gold;
        text-decoration-style: dotted;
    }

    .large-heading {
        font-size: 1.6rem;
    }

    h3 {
        font-size: .8rem;
        max-width: 75%;
        font-weight: 400;
        font-family: 'Source Sans Pro', sans-serif;
    }

    p {
        font-size: .75rem;
    }

    #speck {
        height: 4px;
        width: 4px;
        background-color: $gold;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 30%;
        top: 5%;
    }
}

@media only screen and (min-width: 500px) {
    #home {
        .large-heading {
            font-size: 2rem;
        }

        h3 {
            font-size: 1.3rem;
            max-width: 100%;
        }

        p {
            font-size: 1rem;
        }
    }
}

@media only screen and (min-width: 992px) {
    #home {
        min-height: 70vh;

        .large-heading {
            font-size: 3rem;
        }

        h3 {
            font-size: 1.25rem;
        }

        #speck {
            height: 6px;
            width: 6px;
            left: 29%;
            top: 23%;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #home {
        min-height: 60vh;

        .large-heading {
            font-size: 3.5rem;
        }

        h3 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (min-width: 1400px) {
    #home {
        min-height: 70vh;

        .large-heading {
            font-size: 3.9rem;
        }
    }
}

@media only screen and (min-width:2500px) {
    #home {
        padding: 10vh 0 0 0;
    }
}