

.navbar {
    // position: absolute !important;
    // top: 0;
    // left: 0;
    // z-index: 9999;
    // width: 100%;
    // max-height: 100vh;
    background: black;

    .navbar-brand {
        color: white;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;

        &:hover {
            // temp fix for black text on hover
            color: white;
        }
    }
    #navbar-logo {
        width: 40px;
    }
    
    .nav-link {
        color: white !important;
        border: solid 2px white;
        border-radius: 50px;
        &:hover {
            color: $gold !important
        }
    }

    .navbar-toggler {
        border-color: transparent !important;

        &:focus {
            outline: none;
        }

        &:hover {
            filter: brightness(1.25);
        }
    }

    #hamburger-menu {
        color: $gold;
    }

    // fullscreen dropdown 
    .navbar-nav {
        height: 100vh;
        font-size: 75%;
        flex: .65;
        justify-content: center;

        .nav-item {
            margin: 1em .5em !important;
            font-size: 200%;

            .nav-link {
                padding: .5em 1em;
                font-weight: 700;
                text-align: center;
                transition: all 0.25s ease-out;
                font-size: 1rem;

                &:hover {
                    filter: brightness(1.25);
                }
            }

            a {
                margin: 0;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .navbar {
        font-size: 150%;
        height: 85px !important;

        .navbar-brand {
            margin-left: 35px;
        }
        .navbar-nav {
            height: initial;
            justify-content: flex-end;

            .nav-item {
                font-size: 100%;
            }
        }
    }
}