#ways-to-spread-love {
    background: $gold; 
    b{
        color: black;
        font-weight: 900;
    }
    .circle {
        background: $bg;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        color: white;
    }
}